@import url("bulma.min.css");

body {
  font-size: 18px;
}
textarea {
  width: 100%;
  height: 200px;
  font-size: 20px;
  font-family: serif;
}
textarea:focus,
textarea:active {
  background: #EFFACE;
}
.assignments {
  margin-bottom: 3rem;
}
.assignments .card {
  margin-top: 3rem;
}
.card.finished,
.card.active.finished.alert,
.card.active.finished.alert.warning,
.card.active.finished.alert.warning.danger,
.card.active.finished {
  background: #ccc;
  color: #666;
}
.card.active {
  background: #FE5;
}
.card.active.alert {
  background: #0DA;
}
.card.active.alert.warning {
  background: #FACE75;
}
.card.active.alert.warning.danger {
  background: #FAD;
}
.clocks {
  background: white;
}
.counsel-clock {
  height: 150px;
  width: 150px;
  border: dotted 1px black;
}
.counsel-clock.warning {
  background-color: orange;
}
.counsel-clock.danger {
  background-color: red;
}
